.form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
.title {
	width: 400px;
	padding: 10px 15px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.content {
	width: 80%;
	height: 400px;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.editor {
	/* width: 800px; */
	height: 800px;
	/* font: 300px; */
	color: black;
}
