.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 10px;
}

.logout {
	position: fixed;
	right: 20px;

	color: white;
	background-color: red;
	padding: 10px 14px;
	border: none;
	border-radius: 3px;
}

.logout:hover {
	background-color: blue;
}

/* .form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.textarea {
	width: 300px;
	height: 300px;
} */
