.footer {
    background-color: #083F5D;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    bottom: 0%;
}

.footer a {
    font-family: 'PT Serif', serif;
    width: 50%;
    text-align: center;
    color: white;
    padding: 1.3em 2em;
    text-decoration: none;
    border-radius: 3px;
}

.footer a:hover {
    /* background-color: #0b2b46;
    font-style: italic;
    font-weight: bold; */
}
