.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-size: 1.1em;
    padding: 0 20px;
}
.title {
    padding: 10px;
}

.container p {
    /* padding: 2em; */
}

.text {
    /* background-color: rgb(58, 115, 119); */
    text-align: center;
}
.portrait {
    max-height: 200px;
    border-radius: 100%;
}