.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-flow: wrap;
    background-color: #1f4792;
    width: 40%;
    margin: auto;
}

.name {
    font-family: 'Amiri', serif;
    text-decoration: none;
    color: black;
    font-size: 2em;
    display: flex;
    justify-content: center;
}
.name:hover {
    text-decoration: underline;
}

.navbar a {
    font-family: 'Amiri', serif;
    text-decoration: none;
    color: rgb(162, 165, 158);
    margin: 0 20px;
    font-size: 1.1em;
}

.navbar a:hover {
    border-bottom: 1px solid rgb(122, 132, 139);
    font-style: italic;
}

/* @media only screen and (min-width: 1000px) {
    .navbar a {
        font-family: 'Asar', serif;
        text-decoration: none;
        color: black;
        margin: 0 auto;
    }
} */