.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-flow: wrap;
}

.navbar a {
    font-family: 'Asar', serif;
    text-decoration: none;
    color: black;
    margin: 0 auto;
}