.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    
    /* flex-direction: column; */
    /* padding: 20px 20px; */
    margin: 0 auto;
}

.name {
    color: white;
    font-size: 2em;
    font-family: 'Dosis', sans-serif;
    /* margin-right: 50%; */
    margin: 20px;
}

.navbar a {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    /* color: rgb(168, 168, 158); */
    color: white;
    margin: 10px 20px;
    font-size: 1.1em;
}

.navbar a:hover {
    border-bottom: 1px solid black;
    font-style: italic;
}

@media only screen and (min-width: 600px) {
    .navbar {
        justify-content: flex-end;
    }

    .name {
        margin-right: 60%;
    }
}