.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    flex-direction: row;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
    width: 60%;
}

.title {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    font-size: 2em;
}

.role {
    display: flex;
    justify-content: flex-start;
    font-style: italic;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 auto;
}

.card img {
    justify-content: center;
    align-content: center;
    padding: 5%;
    width: 100%;
}

.card a {
    display: block;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-size: 0.8em;
    padding: 14px 15px;
    margin: 10px auto 10px auto;
    border: 1px solid black;
    background: rgb(58, 115, 119);
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}

.card a:hover {
    /* background: rgb(22, 50, 51); */
    font-style: italic;
}

.card p {
    margin: 20px 10px;
    text-align: center;
}