body {
  margin: 0;
  padding: 0;
  background-color: rgb(35, 36, 37);
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}
